.form-box{
    padding: 80px 0px 120px;
    background-color: #F8F9FA;
}
.form-box .message{
    background-color: white;
    padding: 50px 40px 80px;
    margin-bottom: 50px;
    margin-top: -150px;
}
.form-box .message form label{
    font-weight: 500;
}
.form-box .message form input{
    border-radius: 0px;
}
.form-box .message form input:focus,
.form-box .message form textarea:focus {
    outline: 1px solid #E55171;
    box-shadow: none;
    border: none;
}
.form-box .message form .form-group{
    margin-bottom: 30px;
}
.form-box label{
    display: inline-block;
}
.form-box .message form .form-group:first-of-type,
.form-box .message .form-group:nth-of-type(2){
    display: inline-block !important;
    width: 48%;

}
.form-box .message form .form-group:first-of-type{
margin-right: 4%;
}
.form-box .message form textarea {
    
    min-height: 180px;
}
.form-box .message button {
    display: block;
    font-size: 18px;
    border-radius: 30px;
    background-color: #E55171;
    color: white;
    border: 1px solid #E55171;
    padding: 15px 25px;
    transition: all 0.2s ease-in-out;
}
.form-box .message button:hover {
    background-color: crimson;
    border: 1px solid crimson;

}
.form-box .details .address, 
.form-box .details .more{
    background-color: white;
    margin-bottom: 40px;
    padding: 25px 20px 35px;
}
.form-box .details .address h4{
    font-size: 22px;
    color: #828282;
}
.form-box .details .address p{
    margin-bottom: 25px;
    color: #979797;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-box .details .address span{
    color: #E55171;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 25px;
    cursor: pointer;
}
.form-box .details .more h4{
    font-family: Arial, Helvetica, sans-serif;
}
.form-box .details .more p {
    margin-bottom: 25px;
    color: grey;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.form-box .more button {
    display: block;
    font-size: 18px;
    border-radius: 30px;
    background-color: #E55171;
    color: white;
    border: 1px solid #E55171;
    padding: 8px 25px;
    transition: all 0.2s ease-in-out;
}
.form-box .more button:hover {
    background-color: crimson;
    border: 1px solid crimson;

}